@import "../../assets/common";

%clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

:host{
  display: block;
  padding-bottom: rem(8px);
}

.app-select-area {
  margin-top: rem(8px);
  padding: 0 rem(16px);
  h4 {
    padding-left: rem(10px);
    letter-spacing: 3px;
    color: #4f4f4f;
    font-weight: bold;
    font-size: rem(24px);
    line-height: 1.5;
  }
  &__city,
  &__area {
    width: 49%;
    position: relative;
    margin-top: rem(20px);
    &:before {
      position: absolute;
      top: rem(-8px);
      left: rem(20px);
      padding: 0 rem(8px);
      font-size: rem(12px);
      background: #fff;
    }
    select {
      padding: rem(0) rem(20px);
      width: 100%;
      height: rem(50px);
      font-size: rem(16px);
      font-family: "Hiragino Sans CNS", "微軟正黑體", "Arial";
      // border-radius: rem(50px);
      border-radius: rem(10px);
      border: rem(2px) solid #4f4f4f;
    }
  }
  &__flex {
    margin: 0 0 rem(4px) 0;
    display: flex;
    justify-content: space-between;
  }
  &__city {
    &:before {
      content: "縣市";
    }
  }
  &__area {
    &:before {
      content: "鄉鎮市區別";
    }
  }
}
