@import "../../assets/common";

%clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

:host {
  // display: none;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 9999;
  bottom: 0px;
  left: 0;

  @media (max-width: 800px) {
    display: block;
    height: 50px;
    transition: 0.5s;
    transform: translateY(0px);
    &.active {
      transform: translateY(50px);
    }
  }
}

.tab {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e0e0e0;

  &__icon {
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    p {
      font-size: rem(12px);
      line-height: 1.5;
    }
    fa-icon {
      font-size: rem(24px);
    }
    figure{
      img {
        height: rem(22px);
      }
    }
  }
}
