<div class="tab">
  <div class="tab__icon" (click)="onList()">
    <fa-icon [icon]="faList" style="color:#4F4F4F"></fa-icon>
    <p>列表</p>
  </div>
  <div class="tab__icon" (click)="onMap()">
    <fa-icon [icon]="faMapMarkedAlt" style="color:#4F4F4F"></fa-icon>
    <p>地圖</p>
  </div>
  <!-- <div class="tab__icon" (click)="onMaskinfo()">
    <figure><img src="{{ assetsUrl }}/mask.svg" /></figure>
    <p>口罩資訊</p>
  </div> -->
  <div class="tab__icon" (click)="onNear()" *ngIf="(appStoreService.location$ | async)?.accuracy ">
    <fa-icon [icon]="faHome" style="color:#4F4F4F"></fa-icon>
    <p>附近藥局</p>
  </div>
</div>
