<div class="pharmacy">
  <div
    class="pharmacy__wrap"
    *ngFor="let item of appStoreService.getPharmacy$ | async; let idx = index"
    [style.left.rem]="23.125 * idx"
    (click)="setInfo(item.geometry, item.properties)"
  >
    <div class="pharmacy__title">{{ item.properties.name }}</div>
    <div class="pharmacy__block-left">
      <div class="pharmacy__addr">{{ item.properties.address }}</div>
      <div class="pharmacy__phone">{{ item.properties.phone }}</div>
    </div>
    <div class="pharmacy__block-right">
      <div class="pharmacy__child">
      <img src= "{{assetsUrl}}/child.svg"/>
        <p>{{ item.properties.mask_child }}</p>
      </div>
      <div class="pharmacy__adult">
        <img src="{{assetsUrl}}/adult.svg" />
        <p>{{ item.properties.mask_adult }}</p>
      </div>
    </div>
  </div>
</div>
