@import "../../assets/common";

%clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.search {
  position: relative;
  &__icon{
    display: none;
    position: absolute;
    left: 100%;
    bottom: 0;
    padding: rem(8px);
    background: #e0e0e0;
    border-radius: rem(4px);
    cursor: pointer;
    @media (max-width: 800px) {
      display: block;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-around;
  }
  &__header {
    height: rem(164px);
    background: #e0e0e0;
    padding: rem(20px) rem(20px) rem(0px) rem(20px);
    .search__flex {
      padding-top: rem(16px);
    }
  }
  &__body {
    height: calc(100% - 165px);
    // background: #e0e0e0;
    padding: rem(20px);
    overflow-y: scroll;
    &-title {
      padding-left: rem(20px);
      // text-align: right;
      color: #4f4f4f;
      font-weight: bold;
      font-size: rem(36px);
      line-height: rem(54px);
    }
    &-city,
    &-area {
      position: relative;
      margin-top: rem(20px);
      // margin-top: rem(40px);
      &:before {
        position: absolute;
        top: rem(-8px);
        left: rem(20px);
        padding: 0 rem(8px);
        font-size: rem(12px);
        background: #fff;
      }
      select {
        padding: rem(0) rem(20px);
        width: 100%;
        height: rem(50px);
        font-size: rem(16px);
        font-family: "Hiragino Sans CNS", "微軟正黑體", "Arial";
        border-radius: rem(50px);
        border: rem(2px) solid #4f4f4f;
      }
    }
    &-city {
      &:before {
        content: "縣市";
      }
    }
    &-area {
      &:before {
        content: "鄉鎮市區別";
      }
    }
  }
  &__info {
    text-align: center;
    line-height: rem(36px);
    font-size: rem(12px);
    font-weight: bold;
    color: #4f4f4f;
    figure {
      display: inline-block;
      height: rem(40px);
      img {
        vertical-align: middle;
      }
    }
    .num {
      margin: 0 rem(2px);
      font-size: rem(24px);
      color: #f2994a;
    }
  }
  &__mask {
    margin-top: rem(38px);
    h4 {
      font-size: rem(20px);
    }
    &-child,
    &-adult,
    &-both {
      cursor: pointer;
      position: relative;
      width: rem(80px);
      height: rem(80px);
      margin-top: rem(24px);
      box-shadow: 0px 5px 10px rgba(#000, 0.25);
      border-radius: rem(20px);
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &.isAct {
        box-shadow: 0px rem(5px) rem(10px) #f2c94c;
      }
    }
    &-total {
      margin-top: rem(32px);
      font-size: rem(14px);
      line-height: 1.5;
      h4 {
        font-size: rem(20px);
        font-weight: bold;
        color: #f2994a;
        line-height: 2;
        span{
          font-size: rem(14px);
          line-height: 1.5;
          color: #000;
          font-weight: normal;
        }
      }
    }
  }
}

