@import "../../assets/common";

%clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

:host {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  // padding: 1rem 2rem 1rem 4rem;
  padding: 1rem;

}

.search {
  position: relative;
  // width: 320px;
  // height: 100vh;
  // background: #fff;
  width: 100%;
  input{
    padding: rem(0) rem(20px);
    width: 100%;
    height: rem(50px);
    font-size: rem(16px);
    font-family: "Hiragino Sans CNS", "微軟正黑體", "Arial";
    // border-radius: rem(50px);
    border-radius: rem(10px);
    border: rem(2px) solid #4f4f4f;
  }
  fa-icon{
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #159;
  }
  @media (min-width: 800px) {
    width: 290px;
  }
}
